<header class="header">
	<div class="header__container">
		<div class="row">
			<div class="icon symbol">
				<svg width="942" height="1080" viewBox="0 0 942 1080" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					<path
						d="M617.208 414.577C577.523 412.478 580.656 373.644 585.878 333.761C611.987 189.971 632.874 154.286 657.938 154.286C683.002 154.286 708.066 184.723 752.973 267.638L755.062 264.49L629.741 0C622.43 32.5364 608.854 123.848 595.277 193.12C573.346 302.274 570.213 384.14 536.794 399.883C505.463 414.577 481.443 387.289 462.645 346.356C407.295 210.962 403.117 173.178 425.049 158.484C445.936 144.84 483.532 155.335 564.991 197.318L566.035 196.268L315.392 45.1312C327.925 76.6181 366.565 158.484 393.718 223.557C436.537 326.414 476.222 399.883 460.557 431.37C443.847 464.956 409.384 451.312 368.654 425.073C246.466 343.207 223.49 312.77 231.845 289.679C241.244 264.49 278.84 253.994 372.831 243.499V240.35L80.4146 253.994C107.568 271.837 184.849 321.166 242.288 360C336.279 424.023 408.339 459.708 412.517 495.394C416.694 530.029 378.053 543.673 334.191 543.673C187.982 543.673 150.386 532.128 145.164 506.939C140.987 482.799 165.007 453.411 236.022 391.487L234.978 389.388L0 563.615C32.3747 563.615 123.233 560.466 194.248 560.466C307.038 560.466 383.275 551.02 409.384 579.359C434.448 606.647 405.206 633.936 368.654 662.274C246.466 743.09 210.958 752.536 192.16 735.743C173.361 716.851 178.583 678.018 205.736 587.755H202.603L101.302 863.79C129.499 844.898 202.603 792.42 262.131 752.536C356.122 689.563 415.65 638.134 451.157 648.63C486.665 659.125 481.443 700.058 462.645 739.942C407.295 876.385 380.142 903.673 356.122 900.525C331.058 896.327 312.259 859.592 287.195 768.28L284.062 770.379L349.856 1055.86H350.9C364.477 1024.37 396.851 940.408 424.004 876.385C467.867 771.429 491.887 696.91 525.306 683.265C558.725 669.621 577.523 708.455 585.878 752.536C611.987 899.475 609.898 936.21 585.878 946.706C562.902 957.201 528.439 937.259 455.335 880.583L668.381 1080H669.426C662.115 1047.46 643.317 957.201 629.741 887.93C608.854 778.776 583.789 702.157 605.721 672.77C628.696 642.332 665.248 663.324 694.49 696.91C797.88 801.866 816.678 835.452 801.013 857.493C785.348 879.534 747.752 881.633 653.76 873.236V876.385L942 922.566C917.98 900.525 856.364 834.402 805.191 786.122C691.357 679.067 663.16 630.787 665.248 597.201C667.337 566.764 708.066 547.872 756.106 546.822V543.673H545.149C609.898 478.601 657.938 428.222 695.534 389.388C797.88 285.481 832.344 268.688 854.275 282.332C876.206 295.977 879.339 334.81 872.029 428.222H874.117L914.847 138.542C891.871 161.633 831.299 227.755 782.215 279.184C704.933 361.05 653.76 416.676 617.208 414.577Z"
						fill="#000"></path>
				</svg>
			</div>
			<div class="logo-wrapper">
				<div class="icon logo">
					<svg width="842" height="98" viewBox="0 0 842 98" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						<path
							d="M109.77 63.3014C108.47 67.9714 107.7 69.6514 106.53 71.9814C105.1 74.8314 102.64 78.9814 97.07 83.9014C89.55 90.5114 77.5 97.5114 54.95 97.5114C49.77 97.5114 31.62 97.3814 17.37 86.7514C0.780001 74.4414 0 55.2614 0 48.5214C0 39.1914 2.2 29.4714 7.39 21.6914C9.2 18.9714 10.89 17.0214 13.22 14.8214C16.33 11.8414 17.89 10.8014 19.7 9.64141C25.66 5.62141 37.97 0.0514063 56.25 0.0514063C61.3 0.0514063 78.93 0.441406 93.19 10.0314C100.97 15.2114 105.24 21.6914 106.93 24.6814C107.58 25.9814 108.23 27.2714 108.74 28.5714L83.73 31.6814C82.3 29.4814 79.71 25.4614 74.53 21.9614C71.55 20.0214 65.33 16.9114 56.26 16.9114C53.93 16.9114 48.09 17.0414 42 19.6314C30.08 24.5514 23.73 35.9614 23.73 48.7914C23.73 55.1414 25.67 62.1414 29.43 67.4514C30.21 68.6214 32.15 70.9514 35.13 73.2814C38.63 76.1314 45.63 80.6714 56.9 80.6714C70.25 80.6714 77.38 75.1014 81.01 70.8214C82.57 69.1414 83.6 67.4514 85.68 63.5614L109.79 63.3014H109.77ZM212.22 94.4014H186.56L178.78 77.1614H131.86L124.08 94.4014H99.07L143.27 2.90141H168.02L212.21 94.4014H212.22ZM171.4 60.9614L155.46 25.1914L139.26 60.9614H171.4ZM316.68 94.4014H294.13L237.62 30.2514V94.4014H215.85V2.90141H238.79L294.91 66.7914V2.90141H316.68V94.4014ZM351.48 94.4014H328.54V2.90141H351.48V94.4014ZM463.32 94.4014H440.77L384.26 30.2514V94.4014H362.49V2.90141H385.43L441.55 66.7914V2.90141H463.32V94.4014ZM580.42 47.7414C580.42 49.5514 580.42 54.3514 579.38 59.4014C578.21 65.4914 574.58 78.7114 560.72 88.0414C554.37 92.1914 542.7 97.3714 524.56 97.3714C497.34 97.3714 482.96 86.3514 476.35 76.6314C473.24 72.2214 468.19 62.6314 468.19 48.6414C468.19 27.5114 478.43 16.5014 485.17 11.3114C495.15 3.66141 508.5 0.551406 520.81 0.0314063C532.22 -0.358594 545.95 1.46141 556.19 6.51141C557.62 7.29141 560.21 8.58141 563.45 10.9214C566.04 12.8614 568.63 15.2014 570.71 17.7914C574.6 22.3314 580.43 32.4414 580.43 47.7314L580.42 47.7414ZM557.09 48.7814C557.09 44.8914 556.57 34.9114 548.92 26.4914C542.57 19.4914 532.72 16.2514 523.26 16.5114C521.19 16.6414 515.74 17.0314 510.04 19.4914C493.06 27.0114 491.77 43.2114 491.77 49.3014C491.77 51.1114 491.9 57.0814 494.23 62.5214C494.88 64.2014 495.66 65.8914 497.73 68.7414C498.38 69.5214 500.06 71.9814 502.4 73.9214C506.03 77.0314 513.03 80.9214 524.3 80.9214C526.37 80.9214 531.82 80.7914 537.52 78.7214C555.53 72.2414 557.09 54.4814 557.09 48.7814ZM711.83 19.3614H650.01V42.6914H708.2V59.0214H650.01V94.4014H627.2V2.90141H711.83V19.3614ZM841.37 94.4014H819.6L820.12 24.0314L790.7 94.4014H769.83L740.15 24.0314L740.67 94.4014H718.9V2.90141H752.08L780.46 70.0314L808.58 2.90141H841.37V94.4014Z"
							fill="#000"></path>
					</svg>
				</div>
			</div>
		</div>
		<nav class="nav">
			<ul class="menu">
				<li class="item">
					<a href="#program">Program</a>
				</li>
				<li class="item">
					<a href="#shows">Archive</a>
				</li>
				<div class="item">
					<a href="#artists">Artists</a>
				</div>
			</ul>
			<ul class="list">
				<li class="item">
					<span class="button button--about" role="button" tabindex="0">About</span>
				</li>
				<li class="item">
					<a href="https://www.youtube.com/@CaninoFM" target="_blank" rel="noopener noreferrer"
						><span class="desktop">YouTube</span><span class="mobile">YT</span></a
					>
				</li>
				<li class="item">
					<a href="https://www.instagram.com/canino.fm" target="_blank" rel="noopener noreferrer"
						><span class="desktop">Instagram</span><span class="mobile">IG</span></a
					>
				</li>
				<div class="item">
					<a href="https://soundcloud.com/canino-fm" target="_blank" rel="noopener noreferrer"
						><span class="desktop">SoundCloud</span><span class="mobile">SC</span></a
					>
				</div>
			</ul>
		</nav>
	</div>
</header>

<style is:global>
	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
		width: 100%;
		mix-blend-mode: difference;
		color: #fff;
	}

	@media (min-width: 768px) {
		.header__container {
			display: flex;
			justify-content: space-between;
		}
	}

	.header .row {
		position: relative;
		z-index: 1;
		display: flex;
	}

	.header .symbol {
		height: 100vh;
		transition: height 1s ease;
		will-change: height;
	}

	.header .symbol svg {
		width: auto;
		height: 100%;
	}

	.header .symbol svg path {
		width: auto;
		height: 100%;
		fill: #fff;
	}

	body.loaded .header .symbol {
		height: calc(117 / 1920 * 100vw);
	}

	@media (max-width: 767px) {
		body.loaded .header .symbol {
			height: calc(59 / 375 * 100vw);
		}
	}

	body.no-transitions .header .symbol {
		transition: none;
	}

	.header .logo-wrapper {
		position: absolute;
		top: calc(12 / 1920 * 100vw);
		left: calc(103 / 1920 * 100vw);
		width: 0;
		height: calc(99 / 1920 * 100vw);
		overflow: hidden;
		transition: width 0.6s ease;
		will-change: width;
	}

	@media (max-width: 767px) {
		.header .logo-wrapper {
			left: calc(50 / 375 * 100vw);
			height: calc(40 / 375 * 100vw);
		}
	}

	.header .logo-wrapper .logo {
		position: absolute;
		top: 50%;
		left: 0;
		width: calc(855 / 1920 * 100vw);
		min-width: calc(855 / 1920 * 100vw);
		height: calc(99 / 1920 * 100vw);
		min-height: calc(99 / 1920 * 100vw);
		transform: translate3d(0, -50%, 0);
	}

	@media (max-width: 767px) {
		.header .logo-wrapper .logo {
			width: calc(317 / 375 * 100vw);
			min-width: calc(317 / 375 * 100vw);
			height: calc(40 / 375 * 100vw);
			min-height: calc(40 / 375 * 100vw);
		}
	}

	.header .logo-wrapper .logo svg {
		width: 100%;
		height: 100%;
	}

	.header .logo-wrapper .logo svg path {
		fill: #fff;
	}

	body.animated .header .logo-wrapper {
		width: calc(860 / 1920 * 100vw);
	}

	@media (max-width: 767px) {
		body.animated .header .logo-wrapper {
			width: calc(320 / 375 * 100vw);
		}
	}

	body.no-transitions .header .logo-wrapper {
		transition: none;
	}

	.header .nav {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: calc(14 / 1920 * 100vw) calc(10 / 1920 * 100vw) calc(10 / 1920 * 100vw)
			calc(965 / 1920 * 100vw);
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s ease;
	}

	@media (max-width: 767px) {
		.header .nav {
			padding: calc(63 / 375 * 100vw) calc(5 / 375 * 100vw) 0;
		}
	}

	.header .nav .menu,
	.header .nav .list {
		display: flex;
	}

	.header .nav .item {
		margin-right: calc(20 / 1920 * 100vw);
		text-transform: uppercase;
		cursor: pointer;
	}

	@media (max-width: 767px) {
		.header .nav .item {
			margin-right: calc(10 / 375 * 100vw);
		}
	}

	.header .nav .item:last-child {
		margin: 0;
	}

	body.no-transitions .header .nav {
		opacity: 1;
		pointer-events: all;
	}

	.header .nav .desktop {
		display: inline;
	}

	.header .nav .mobile {
		display: none;
	}

	@media (max-width: 767px) {
		.header .nav .desktop {
			display: none;
		}
		.header .nav .mobile {
			display: inline;
		}
	}
</style>
